[Unit]
Description=Auto-trust .desktop files on Desktop (user scope) to make it easier for "Add to Desktop" functionality
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/deskmon
Restart=on-failure
RestartSec=5s
Environment=HOME=%h

[Install]
WantedBy=default.target
